<div class="product-page">
    <a href="/products">Voltar</a>
    <h1>{{product.name}} </h1>
    <p>Preço: R${{product.price}} </p>
    <img src="{{product.image}}" alt="{{product.name}}">
    <p>{{product.description}} </p>
    <form action="/products/delete" method="post">
        <input type="hidden" name="id" value="{{product._id}}">
        <button type="submit" class="btn">Excluir</button>
    </form>
    <a href="/products/edit/{{product._id}}">Editar</a>
</div>